{% extends 'admin/master.html' %}
{% block body %}
    <h3>Account</h3>
    <ul>
        <li>username: {{ current_user.username }}</li>
        <li>Name: {{ current_user.name }}</li>
        <li>Email: {{ current_user.email }}</li>
        <li>
            Roles:
            <ul>
            {% for role in current_user.roles %}
                <li> {{ role.name }}</li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    <!-- a href="{{ url_for_security('change_password') }}">Change password</a -->
{% endblock %}
