{% extends 'admin/master.html' %}
{% block body %}
    <h3>TRacker</h3>
    <ul>
        <li>version: 1.3.10</li>
        <li>release: 2017-03-25</li>
        <li>source: <a href="https://github.com/dradux/tracker">https://github.com/dradux/tracker</a></li>
        <li>issues: <a href="https://github.com/dradux/tracker/issues">https://github.com/dradux/tracker/issues</a></li>
        <li>wiki: <a href="https://github.com/dradux/tracker/wiki">https://github.com/dradux/tracker/wiki</a></li>
    </ul>
{% endblock %}
