<!--
{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>TRTrack!</h1>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="text" class="form-control input-lg" type="text" placeholder="Enter a message" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for post in posts %}
    <h4 class="well"><strong>{{post.text}}</strong> - <em>{{post.date_posted.strftime('%Y-%m-%d')}}</em></h4>
  {% endfor %}
</div>

<hr>
<a href="/admin/">Go to Admin!</a>

{% endblock %}
-->


{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Flask-Admin example!!!</h1>
            <p class="lead">
                Basic SQLAlchemy model views.
            </p>
            <p>
                This example shows how to add basic CRUD-views for your SQLAlchemy models.
            </p>
            <p>
                The views are generated automatically, but it is perfectly possible to customize them to suit your needs.
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}
